@model TUTSHOP.Models.Entities.Order

<div class="position-relative overflow-hidden radial-gradient min-vh-70 d-flex align-items-center justify-content-center mt-5">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-6">
                <div class="card mb-0">
                    <div class="card-body text-center">
                        <h2 class="text-center">Đặt hàng thành công!</h2>
                        <div class="order-details fw-bold">
                            <p><strong>Mã Đơn Hàng:</strong> @Model.Id</p>
                            <p><strong>Người Nhận:</strong> @Model.ApplicationUser.FullName</p>
                            <p><strong>Số Điện Thoại:</strong> @Model.ApplicationUser.PhoneNumber</p>
                            <p><strong>Nhận Sản Phẩm Tại:</strong> @Model.ShippingAddress</p>
                            <p><strong>Hình Thức Thanh Toán:</strong> @Model.PaymentMethod</p>
                            <p><strong>Tổng Tiền:</strong> @Model.TotalPrice.ToString("#,##0") đ</p>
                        </div>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
