@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Areas/Identity/Pages/Shared/_IdentityLayout.cshtml";
}


<div class="card mb-0">
    <div class="card-body">
        <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
            <img src="~/AdminAssets/images/logos/dark-logo.svg" width="180" alt="">
        </a>
        <p class="text-center">Chào mừng bạn đến với TUT-Shop</p>
        <form id="registerForm" class="mb-3" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            

            <div class="mb-3">
                <label class="form-label">Họ tên</label>
                <input type="text" class="form-control" asp-for="Input.FullName" placeholder="Nhập họ tên"  />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" asp-for="Input.Email" placeholder="Nhập email"  />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="mb-3 form-password-toggle">
                <label class="form-label">Mật khẩu</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" asp-for="Input.Password" autocomplete="new-password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="mb-3 form-password-toggle">
                <label class="form-label">Nhập lại mật khẩu</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" asp-for="Input.ConfirmPassword" autocomplete="new-password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div>
                    <label class="form-label">Gender</label>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" id="male" name="Gender" value="Male" checked style="margin-right: 10px;" />  <label for="male">Male</label>
                        <input type="radio" id="female" name="Gender" value="Female" style="margin-left: 10px;" />  <label for="female">Female</label>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" >Phone Number</label>
                <input type="text" class="form-control" asp-for="Input.NumberPhone" placeholder="Nhập số điện thoại" />
                <span asp-validation-for="Input.NumberPhone" class="text-danger"></span>
            </div>

            @* <div class="mb-3">
                <label class="form-label" for="addressInput">Address</label>
                <textarea id="addressInput" asp-for="Input.Address" rows="4" cols="50" class="form-control" placeholder="Nhập địa chỉ"></textarea>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div> *@

            <div class="mb-3">
                <div class="form-check">
                    <input required class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                    <label class="form-check-label" for="terms-conditions">Tôi đồng ý với <a href="javascript:void(0);">điều khoản</a></label>
                </div>
            </div>
            <button id="register" type="submit" class="btn btn-primary d-grid w-100">Đăng ký</button>
        </form>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                            article
                            about setting up this ASP.NET application to support logging in via external services
                        </a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
        <p class="text-center">
            <span>Bạn đã có tài khoản?</span>
            <a asp-area="Identity" asp-controller="Account" asp-action="Login"><span>Đăng nhập ngay</span></a>
        </p>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
